.container {
  min-height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.card {
  flex-grow: 1;
}

.title {
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.paragraph {
  white-space: pre;
  font-size: 1.5rem;
}
